workflow.json
{
  "name": "Social Media Finder via Google Custom Search",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        176,
        16
      ],
      "id": "e7f08439-0b20-490d-bb2b-2cb445dceeb8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbe87fa7-beb8-4985-98eb-beaa282960bd",
              "name": "Location",
              "value": "={{ $json.fields.Location }}",
              "type": "string"
            },
            {
              "id": "c847ca9b-08a5-4a4b-9a46-b1173c2a3479",
              "name": "Business",
              "value": "={{ $json.fields[\"Search Query (Usually Business Name)\"] }}",
              "type": "string"
            },
            {
              "id": "b4bd7f2e-0bd1-4f6e-8e46-823ff13631e8",
              "name": "NumOfBusinesses",
              "value": "={{ $json.fields[\"Number of Businesses\"] }}",
              "type": "number"
            },
            {
              "id": "fedb57b4-0010-40de-b26e-6972ebcff62b",
              "name": "Radius",
              "value": "={{ $json.fields['Radius (km)'] || null }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        208
      ],
      "id": "9f7b6b8d-19d9-4967-84b0-430d5ff28d6e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.Radius ? \n  `https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${$json.latitude},${$json.longitude}&radius=${$json.Radius * 1000}&type=${encodeURIComponent($json.Business.toLowerCase())}&keyword=${encodeURIComponent($json.Business.toLowerCase())}&key=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE` \n  : \n  `https://maps.googleapis.com/maps/api/place/textsearch/json?query=${encodeURIComponent($json.Business)}%20${encodeURIComponent($json.Location)}&key=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE` \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        192
      ],
      "id": "6ba30b3b-1cc2-42a9-8c23-30747fa1f93a",
      "name": "Search Places with Google"
    },
    {
      "parameters": {
        "jsCode": "const numBusinesses = $('Edit Fields').first().json.NumOfBusinesses;\nconst results = $input.first().json.results;\nreturn results.slice(-numBusinesses).map(item => ({json: item}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        176
      ],
      "id": "576a6b33-987e-479a-bb4f-9a83e4b8a1c3",
      "name": "Extract All The Results"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.place_id }}&fields=name,website,international_phone_number,business_status,rating,user_ratings_total,opening_hours,types,formatted_phone_number&key=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4016,
        192
      ],
      "id": "fb16d8b1-1a8b-45f3-aca2-a98f48156c0c",
      "name": "Search Places for Details",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2352,
        1120
      ],
      "id": "fb87185c-ad74-4319-8cf8-bdb69f119443",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CikD3VDLZ1fhpUCx",
          "name": "Nizar's OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=BUSINESS CONTEXT:\n- Business Name: {{ $('Search Places for Details').item.json.result.name }}\n- Business Type: {{ $('Search Places for Details').item.json.result.types }}\n- Overall Score: {{ $json.overall_score }}/10\n- Executive Summary: {{ $json.executive_summary }}\n- Top Gaps: {{ $json.top_gaps }}\n- Quick Wins: {{ $json.quick_wins }}\n- Positive Finding: {{ $json.positive_finding }}\n\nWrite a cold email in this EXACT JSON structure:\n\n{\n  \"subject_line\": \"under 50 chars, intriguing, professional, personalized\",\n  \"email_body\": \"complete email with greeting, body, signature\"\n}\n\nEMAIL REQUIREMENTS:\n\nOPENING:\n- Start with business type + specific observation from their data\n- Show you've done research (mention specific numbers, not generics)\n\nBODY:\n- Mention 2-3 specific findings from the audit (use actual data points)\n- Include positive finding if one exists (shows you're fair, not just criticizing)\n- Frame gaps as credibility/opportunity issues using behavioral economics language:\n  * \"trust signals\" \n  * \"credibility markers\"\n  * \"risk perception\"\n  * \"social proof gaps\"\n- Focus on missed revenue/leads, not just \"looking bad\"\n\nCLOSE:\n- Offer to share the complete audit, no strings attached\n- DO NOT ask for a call/meeting\n- DO NOT use pushy language\n- Position as \"thought this might be useful\" not \"let me sell you something\"\n\nSIGNATURE (exactly as shown):\nNizar Wannous\nBrand Architect & Strategic Advisor\nKreoLabs | Oakville, ON\nnizar@kreolabs.ca | 437-771-2901\nwww.kreolabs.ca\n\nTONE & STYLE:\n- Peer-to-peer, not vendor-to-prospect\n- Helpful colleague, not salesperson\n- Direct but respectful\n- Professional without being corporate\n- 120-150 words maximum (excluding signature)\n\nSTRICT AVOIDANCES:\n❌ \"I hope this finds you well\"\n❌ Exclamation marks\n❌ \"Would you be open to...\"\n❌ \"Just wanted to reach out...\"\n❌ \"I'd love to chat...\"\n❌ Generic flattery\n❌ Pushy calls-to-action\n❌ \"Limited time\" urgency tactics\n\nWHAT TO DO INSTEAD:\n✅ Use their business name\n✅ Reference specific numbers from audit\n✅ Lead with insight, not pitch\n✅ Offer value without asking for anything\n✅ Sound like you're helping a peer, not selling\n\nReturn ONLY valid JSON Object with no markdown backticks, no explanations. Just a valid JSON Object.",
        "options": {
          "systemMessage": "You are writing cold outreach emails for Nizar Wannous, Brand Architect & Strategic Advisor at KreoLabs in Oakville, ON. \n\nYour expertise: helping businesses translate expertise into credible online presence using behavioral economics and data-driven insights.\n\nNizar's voice is peer-to-peer, not salesy. He positions as a fellow business professional sharing insights, not a vendor pushing services.\n\nYou MUST respond with valid JSON only - no markdown formatting, no preamble."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4192,
        688
      ],
      "id": "8bdb93ff-495c-450f-82c0-78e7c5eb1236",
      "name": "Email Generation Agent"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4mUQ6j18ubCQ0V",
          "mode": "list",
          "cachedResultName": "Nizar's Business Outreach System",
          "cachedResultUrl": "https://airtable.com/app4mUQ6j18ubCQ0V"
        },
        "table": {
          "__rl": true,
          "value": "tblw3pBbDdMAPwMfp",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://airtable.com/app4mUQ6j18ubCQ0V/tblw3pBbDdMAPwMfp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Added": "={{ $now }}",
            "Status": "Ready for Outreach",
            "Draft Subject Line": "={{ $('Extract Subject and Email Body').item.json.subject }}",
            "Draft Email": "={{ $('Extract Subject and Email Body').item.json.email_body }}",
            "Email": "={{ $('Email Extractor').item.json.data.emails[0].value }}",
            "Contact Person": "={{ $('Email Extractor').item.json.data.emails[0].last_name }} {{ $('Email Extractor').item.json.data.emails[0].first_name }}",
            "Phone": "={{ $('Search Places for Details').item.json.result.international_phone_number }}",
            "Business Name": "={{ $('Search Places for Details').item.json.result.name }}",
            "Website": "={{ $('Search Places for Details').item.json.result.website ? $('Search Places for Details').item.json.result.website : $('Email Extractor').item.json.data.domain }}",
            "Google Rating": "={{ $('Search Places for Details').item.json.result.rating }}",
            "Total Reviews": "={{ $('Search Places for Details').item.json.result.user_ratings_total }}",
            "Instagram Followers": "={{ $json.raw_values.instagram_followers }}",
            "Facebook Likes": "={{ $json.raw_values.facebook_likes }}",
            "Opportunity Score": "={{ $json.opportunity_score }}",
            "Priority Tier": "={{ $json.priority_tier }}",
            "X (Twitter)": "={{ $json.raw_values.twitter_followers }}",
            "LinkedIn Followers": "={{ $json.raw_values.linkedin_followers }}",
            "Audit Summary": "={{ $('Analysis Parsing').item.json.executive_summary }}",
            "Overall Score (0-10)": "={{ parseInt($('Analysis Parsing').item.json.overall_score) }}",
            "Score Justification": "={{ $('Analysis Parsing').item.json.score_justification }}",
            "Top Gaps": "={{ $('Analysis Parsing').item.json.top_gaps.map(gap => `${gap.gap}: ${gap.impact} (Urgency: ${gap.urgency})`).join('\\n') }}",
            "Quick Wins": "={{ $('Analysis Parsing').item.json.quick_wins.map(win => `${win.action}: ${win.expected_impact} (Effort: ${win.effort})`).join('\\n') }}",
            "Conversion Opportunities": "={{ $('Analysis Parsing').item.json.conversion_opportunities.join('\\n') }}",
            "Competitive Position": "={{ $('Analysis Parsing').item.json.competitive_position }}",
            "Positive Finding": "={{ $('Analysis Parsing').item.json.positive_finding }}",
            "Instagram Account": "={{ $('Clean up Social Links').item.json.output.instagram }}",
            "X Account": "={{ $('Clean up Social Links').item.json.output.x }}",
            "Facebook Page/Account": "={{ $('Clean up Social Links').item.json.output.facebook }}",
            "LinkedIn Account": "={{ $('Clean up Social Links').item.json.output.linkedin }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Person",
              "displayName": "Contact Person",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Audit Summary",
              "displayName": "Audit Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft Email",
              "displayName": "Draft Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Draft Subject Line",
              "displayName": "Draft Subject Line",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Overall Score (0-10)",
              "displayName": "Overall Score (0-10)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score Justification",
              "displayName": "Score Justification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Top Gaps",
              "displayName": "Top Gaps",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Quick Wins",
              "displayName": "Quick Wins",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversion Opportunities",
              "displayName": "Conversion Opportunities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Competitive Position",
              "displayName": "Competitive Position",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Positive Finding",
              "displayName": "Positive Finding",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sent Calendy Link",
                  "value": "Sent Calendy Link"
                },
                {
                  "name": "Pending Review",
                  "value": "Pending Review"
                },
                {
                  "name": "Email Sent",
                  "value": "Email Sent"
                },
                {
                  "name": "Ready for Outreach",
                  "value": "Ready for Outreach"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Opportunity Score",
              "displayName": "Opportunity Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority Tier",
              "displayName": "Priority Tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "High Opportunity",
                  "value": "High Opportunity"
                },
                {
                  "name": "Low Opportunity",
                  "value": "Low Opportunity"
                },
                {
                  "name": "Medium Opportunity",
                  "value": "Medium Opportunity"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Google Rating",
              "displayName": "Google Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Reviews",
              "displayName": "Total Reviews",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Account",
              "displayName": "Instagram Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X Account",
              "displayName": "X Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Page/Account",
              "displayName": "Facebook Page/Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Account",
              "displayName": "LinkedIn Account",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Followers",
              "displayName": "Instagram Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Likes",
              "displayName": "Facebook Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Followers",
              "displayName": "LinkedIn Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X (Twitter)",
              "displayName": "X (Twitter)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5744,
        688
      ],
      "id": "286f6d6a-5d06-4950-b692-085c96592d2a",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "FC9S4yjp9pJkBrkJ",
          "name": "Nizar's Airtable Main"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emailDraft = $input.first().json.output;\n\nconst lines = emailDraft.split('\\n');\n\nconst subjectLine = lines.find(line => line.startsWith('Subject:'));\nconst subject = subjectLine ? subjectLine.replace('Subject:', '').trim() : 'No Subject';\n\nconst subjectIndex = lines.findIndex(line => line.startsWith('Subject:'));\nconst emailBody = subjectIndex !== -1 \n  ? lines.slice(subjectIndex + 1).join('\\n').trim() \n  : emailDraft;\n\nreturn [{\n  json: {\n    subject: subject,\n    email_body: emailBody\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        864
      ],
      "id": "e607ad50-5484-4c56-90db-8919059d977b",
      "name": "Separate Subject & Email Draft"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4mUQ6j18ubCQ0V",
          "mode": "list",
          "cachedResultName": "Nizar's Business Outreach System",
          "cachedResultUrl": "https://airtable.com/app4mUQ6j18ubCQ0V"
        },
        "table": {
          "__rl": true,
          "value": "tbldlqSCNyV4R75Nm",
          "mode": "list",
          "cachedResultName": "Search Campaigns (Control Panel)",
          "cachedResultUrl": "https://airtable.com/app4mUQ6j18ubCQ0V/tbldlqSCNyV4R75Nm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Completed",
            "id": "={{ $('Airtable Trigger').item.json.id }}",
            "Radius (km)": 0,
            "Number of Businesses": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Search Query (Usually Business Name)",
              "displayName": "Search Query (Usually Business Name)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Radius (km)",
              "displayName": "Radius (km)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number of Businesses",
              "displayName": "Number of Businesses",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Start Search",
                  "value": "Start Search"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5584,
        400
      ],
      "id": "c9721142-e0b2-4c41-8fa4-cd5dfcfac251",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "FC9S4yjp9pJkBrkJ",
          "name": "Nizar's Airtable Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "557f33b9-d8bf-407d-b6cf-748ee197626d",
              "leftValue": "={{ $('Airtable Trigger').item.json.fields.Status }}",
              "rightValue": "Start Search",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        208
      ],
      "id": "2982d3e7-5f11-4349-978f-2f4d4f50d186",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3776,
        176
      ],
      "id": "78e48f91-6734-4f13-bcc1-22ff2d760f89",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this business:\n\nBusiness Name: {{ $('Search Places for Details').item.json.result.name }}\nWebsite: {{ $('Search Places for Details').item.json.result.website ? $('Search Places for Details').item.json.result.website : $('Email Extractor').item.json.data.domain }}\nPhone: {{ $('Search Places for Details').item.json.result.international_phone_number }}\nBusiness Type: {{ $('Search Places for Details').item.json.result.types }}\nBusiness Status: {{ $('Search Places for Details').item.json.result.business_status }}\nGoogle Rating: {{ $('Search Places for Details').item.json.result.rating }}\nTotal Reviews: {{ $('Search Places for Details').item.json.result.user_ratings_total }}\n\nInstagram:\nUsername: {{ $('Instagram').item.json.username }}\nFull Name: {{ $('Instagram').item.json.fullName }}\nBio: {{ $('Instagram').item.json.biography }}\nFollowers: {{ $('Instagram').item.json.followersCount }}\nFollowing: {{ $('Instagram').item.json.followsCount }}\nPosts Count: {{ $('Instagram').item.json.postsCount }}\nVerified: {{ $('Instagram').item.json.verified ? 'Yes' : 'No' }}\nBusiness Account: {{ $('Instagram').item.json.isBusinessAccount ? 'Yes' : 'No' }}\nBusiness Category: {{ $('Instagram').item.json.businessCategoryName || 'N/A' }}\nExternal URL: {{ $('Instagram').item.json.externalUrl || 'N/A' }}\n\n\nFacebook:\nPage Name: {{ $('Facebook').item.json.pageName }}\nTitle: {{ $('Facebook').item.json.title }}\nCategory: {{ $('Facebook').item.json.category }}\nLikes: {{ $('Facebook').item.json.likes }}\nFollowers: {{ $('Facebook').item.json.followers }}\nRating: {{ $('Facebook').item.json.ratings }}\nPhone: {{ $('Facebook').item.json.phone || 'N/A' }}\nEmail: {{ $('Facebook').item.json.email || 'N/A' }}\nWebsite: {{ $('Facebook').item.json.website || 'N/A' }}\nAddress: {{ $('Facebook').item.json.address || 'N/A' }}\nIntro: {{ $('Facebook').item.json.intro || 'N/A' }}\nBusiness Hours: {{ $('Facebook').item.json.business_hours || 'N/A' }}\nPrice Range: {{ $('Facebook').item.json.business_price || 'N/A' }}\n\nX (Twitter):\nUsername: {{ $('X(Twitter)').item.json.username }}\nDisplay Name: {{ $('X(Twitter)').item.json.display_name }}\nBio: {{ $('X(Twitter)').item.json.bio }}\nFollowers: {{ $('X(Twitter)').item.json.followers_count }}\nFollowing: {{ $('X(Twitter)').item.json.following_count }}\nJoined: {{ $('X(Twitter)').item.json.joined_date }}\nLocation: {{ $('X(Twitter)').item.json.location || 'N/A' }}\nWebsite: {{ $('X(Twitter)').item.json.website?.display_url || 'N/A' }}\nVerified: {{ $('X(Twitter)').item.json.verified ? 'Yes' : 'No' }}\n\nLinkedIn:\nCompany Name: {{ $('Linkedin').item.json.name }}\nIndustry: {{ $('Linkedin').item.json.Industry }}\nCompany Size: {{ $('Linkedin').item.json['Company size'] }}\nHeadquarters: {{ $('Linkedin').item.json.Headquarters }}\nFounded: {{ $('Linkedin').item.json.Founded || 'N/A' }}\nFollowers: {{ $('Linkedin').item.json.FollowersCount }}\nWebsite: {{ $('Linkedin').item.json.website || 'N/A' }}\nDescription: {{ $('Linkedin').item.json.description }}\nSpecialties: {{ $('Linkedin').item.json.Specialties || 'N/A' }}\n\n\nGenerate a comprehensive audit in this EXACT JSON structure:\n\n{\n  \"business_name\": \"string\",\n  \"executive_summary\": \"2-3 sentences about current state and primary opportunity/issue\",\n  \"overall_score\": 0,\n  \"score_justification\": \"1-2 sentences explaining the score\",\n  \"top_gaps\": [\n    {\n      \"gap\": \"specific gap with actual data\",\n      \"impact\": \"business consequence\",\n      \"urgency\": \"high/medium/low\"\n    }\n  ],\n  \"quick_wins\": [\n    {\n      \"action\": \"specific actionable step\",\n      \"effort\": \"low/medium/high\",\n      \"expected_impact\": \"what they'll gain\"\n    }\n  ],\n  \"conversion_opportunities\": [\n    \"specific revenue-focused recommendation\"\n  ],\n  \"competitive_position\": \"1 sentence comparing to local competitors based on ratings/reviews\",\n  \"positive_finding\": \"one thing they're doing well, or null\"\n}\n\nCRITICAL RULES:\n- Use actual numbers and dates from the data provided above\n- Be direct about what's missing - no soft language\n- Identify 3-5 top gaps by severity (most critical first)\n- Provide 2-3 quick wins (doable in under 1 week)\n- Suggest 2-3 conversion opportunities focused on revenue/lead generation\n- If no website exists, make this gap #1 with high urgency\n- Scoring system:\n  * 0-3 = Critical gaps (no website, very low reviews/rating, minimal social presence)\n  * 4-6 = Moderate gaps (website exists but weak, some social presence but inconsistent)\n  * 7-10 = Strong presence (good website, active social, strong reviews)\n- Return ONLY valid JSON with no markdown backticks, no preamble, no explanation",
        "options": {
          "systemMessage": "You are a digital marketing strategist with expertise in behavioral economics. You analyze business online presence and generate structured audits. You MUST respond with valid JSON only, no markdown formatting, no explanations, no preamble."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3440,
        688
      ],
      "id": "8628ba6a-b0d1-404d-92e3-88b300bcf41f",
      "name": "Analyzer Agent"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE"
            },
            {
              "name": "cx",
              "value": "=a6a339b55541540c4"
            },
            {
              "name": "q",
              "value": "={{ $('Search Places for Details').item.json.result.name }} {{ $('Email Extractor').item.json.data.domain }} Instagram"
            },
            {
              "name": "num",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1648,
        688
      ],
      "id": "f35a1de4-a0b4-475f-93fa-4113d95c2df0",
      "name": "Search Instagram Profile",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE"
            },
            {
              "name": "cx",
              "value": "a6a339b55541540c4"
            },
            {
              "name": "=q",
              "value": "={{ $('Search Places for Details').item.json.result.name }} {{ $json.data.domain }} Facebook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1424,
        624
      ],
      "id": "b43b4b94-56ca-4110-88c7-5747b90bea67",
      "name": "Search Facebook Page",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE"
            },
            {
              "name": "cx",
              "value": "=a6a339b55541540c4"
            },
            {
              "name": "q",
              "value": "={{ $('Search Places for Details').item.json.result.name }} {{ $('Email Extractor').item.json.data.domain }} LinkedIn"
            },
            {
              "name": "num",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        528
      ],
      "id": "349c3a36-60e1-42c5-af10-0d9cc298c0bd",
      "name": "Search LinkedIn Company",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE"
            },
            {
              "name": "cx",
              "value": "=a6a339b55541540c4"
            },
            {
              "name": "q",
              "value": "={{ $('Search Places for Details').item.json.result.name }} {{ $json.data.domain }} Twitter"
            },
            {
              "name": "num",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        400
      ],
      "id": "6c9389b9-c177-480a-ab3b-b2c43bf1b071",
      "name": "Search Twitter Profile",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"instagram\": {\n      \"type\": [\"string\", \"null\"]\n    },\n    \"facebook\": {\n      \"type\": [\"string\", \"null\"]\n    },\n    \"linkedin\": {\n      \"type\": [\"string\", \"null\"]\n    },\n    \"x\": {\n      \"type\": [\"string\", \"null\"]\n    }\n  },\n  \"required\": [\"instagram\", \"facebook\", \"linkedin\", \"x\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3008,
        1120
      ],
      "id": "2dfc0223-d1b6-4432-9f13-148a53f6a196",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "xRRLmXDafWTredgdr",
          "mode": "list",
          "cachedResultName": "Twitter Profile Scraper (No Cookies) (deepanshusharm/twitter-profile-scraper-no-cookies)",
          "cachedResultUrl": "https://console.apify.com/actors/xRRLmXDafWTredgdr/input"
        },
        "customBody": "={\n    \"usernames\": [\n        \"{{ $json.output.x }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2240,
        688
      ],
      "id": "d6a62e8f-a430-4f18-8f07-b9b3c44d4dc4",
      "name": "X(Twitter)",
      "credentials": {
        "apifyApi": {
          "id": "inr2e59ewp75Tbq4",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "4Hv5RhChiaDk6iwad",
          "mode": "list",
          "cachedResultName": "Facebook Pages Scraper (apify/facebook-pages-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/4Hv5RhChiaDk6iwad/input"
        },
        "customBody": "={\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $('Clean up Social Links').item.json.output.facebook }}\"\n        }\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2464,
        688
      ],
      "id": "591419ed-0f0d-4e78-bb23-2cff52fd676d",
      "name": "Facebook",
      "credentials": {
        "apifyApi": {
          "id": "inr2e59ewp75Tbq4",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Business Name: {{ $('Search Places for Details').item.json.result.name }}\nBusiness Website: {{ $('Search Places for Details').item.json.result.website }}\n\n\nInstagram Search Results:\n{{ $('Search Instagram Profile').item.json.items.map((item, i) => `\nResult ${i+1}:\nTitle: ${item.title}\nLink: ${item.link}\nSnippet: ${item.snippet}\n`).join('\\n') }}\n\nFacebook Search Results:\n{{ $('Search Facebook Page').item.json.items.map((item, i) => `\nResult ${i+1}:\nTitle: ${item.title}\nLink: ${item.link}\nSnippet: ${item.snippet}\n`).join('\\n') }}\n\n\nLinkedIn Search Results:\n{{ $('Search LinkedIn Company').item.json.items.map((item, i) => `\nResult ${i+1}:\nTitle: ${item.title}\nLink: ${item.link}\nSnippet: ${item.snippet}\n`).join('\\n') }}\n\n\nX (twitter) Search Results:\n{{ $('Search Twitter Profile').item.json.items.map((item, i) => `\nResult ${i+1}:\nTitle: ${item.title}\nLink: ${item.link}\nSnippet: ${item.snippet}\n`).join('\\n') }}\n\n\nExtract the PROFILE URLs for each platform. Return null if no valid profile found.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a social media profile URL extraction specialist. You analyze Google Custom Search results and extract ONLY the main profile URLs for businesses.\n\n## YOUR TASK:\nExtract the main social media profile URL  for each platform  (Instagram, Facebook, LinkedIn, X/Twitter) but X(TWITTER) just return the username.\n\n## CRITICAL RULES:\n\n### 1. PROFILE vs POST URLs:\n✅ CORRECT (Profile URLs):\n- instagram.com/username\n- instagram.com/username/\n- facebook.com/companyname\n- facebook.com/pages/Company-Name/123456\n- linkedin.com/company/companyname\n- x.com just the username\n- twitter.com just the username\n\n❌ WRONG (Post/Content URLs - NEVER return these):\n- instagram.com/p/ABC123\n- instagram.com/reel/XYZ789\n- facebook.com/companyname/posts/123\n- facebook.com/events/456\n- linkedin.com/posts/...\n- linkedin.com/in/person-name (personal profile, not company)\n- x.com/username/status/123\n- x.com/username\n\n### 2. EXTRACTION STRATEGY:\n- Look for the business name in the Title or Snippet\n- Match the domain/website to verify it's the right business\n- Check for @username mentions in snippets\n- Prefer results where displayLink matches the social platform\n- If multiple results, choose the one that best matches the business name\n\n### 3. HANDLE AMBIGUITY:\n- If you see ONLY post URLs (e.g., /p/, /posts/, /status/), extract the username and construct the profile URL\n- Example: From \"instagram.com/p/ABC123\" in a post by @menzone_ca → Return \"https://instagram.com/menzone_ca\"\n- Look for @username or account indicators in metadata/snippets\n\n### 4. NULL VALUES:\n- Return null for any platform where NO valid profile is found\n- Do NOT guess or make up URLs\n- Do NOT return post/content URLs\n\n### 5. URL FORMAT:\n- Always return full URLs with https://\n- Remove trailing slashes for consistency\n\n## OUTPUT:\nReturn a JSON object with exactly these 4 keys:\n{\n  \"instagram\": \"https://instagram.com/username\" or null,\n  \"facebook\": \"https://facebook.com/companyname\" or null,\n  \"linkedin\": \"https://linkedin.com/company/name\" or null,\n  \"x\": \"username\" or null\n}\n\nBe precise. Quality over quantity. Only return verified PROFILE URLs."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1872,
        688
      ],
      "id": "9adf500e-cd3c-423c-821c-182c1f20730c",
      "name": "Clean up Social Links",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "bn2Zqf05Giqym1kiD",
          "mode": "list",
          "cachedResultName": "Linkedin-company-scraper (logical_scrapers/linkedin-company-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/bn2Zqf05Giqym1kiD/input"
        },
        "customBody": "={\n    \"url\": [\n        \"{{ $('Clean up Social Links').item.json.output.linkedin }}\"\n    ]\n}\n"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        3120,
        688
      ],
      "id": "e9ca8d9e-f05a-45f1-a4ad-64571812447d",
      "name": "Linkedin",
      "credentials": {
        "apifyApi": {
          "id": "inr2e59ewp75Tbq4",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "dSCLg0C3YEZ83HzYX",
          "mode": "list",
          "cachedResultName": "Instagram Profile Scraper (apify/instagram-profile-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/dSCLg0C3YEZ83HzYX/input"
        },
        "customBody": "={\n    \"includeAboutSection\": true,\n    \"usernames\": [\n        \"{{ $('Clean up Social Links').item.json.output.instagram }}\"\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2752,
        688
      ],
      "id": "f3892ef6-85f8-438b-980e-fdfaf9416eb7",
      "name": "Instagram",
      "credentials": {
        "apifyApi": {
          "id": "inr2e59ewp75Tbq4",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/domain-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "c6e351b87562203b952c07ad80e6374f65d84be5"
            },
            {
              "name": "domain",
              "value": "={{ $('Properly Format URL').item.json.formatted_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5328,
        224
      ],
      "id": "e0fabcee-2659-4578-94ff-dad57799f271",
      "name": "Email Extractor",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4460e0dc-f850-4db0-953a-8852fe0fbe35",
              "leftValue": "={{ $json.result.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4224,
        192
      ],
      "id": "09634f03-5004-41fe-b058-28dcfc90a7ab",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/geocode/json?address={{ encodeURIComponent($json.Location) }}&key=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        192
      ],
      "id": "121ee684-4761-4fd8-9ceb-c580bcebee03",
      "name": "Geocode Location"
    },
    {
      "parameters": {
        "jsCode": "const geocodeResult = $input.first().json;\n\n// Check if we got valid results\nif (!geocodeResult.results || geocodeResult.results.length === 0) {\n  throw new Error(`Could not geocode location: ${geocodeResult.status}`);\n}\n\n// Extract lat/lng from first result\nconst location = geocodeResult.results[0].geometry.location;\n\n// Get all the data from Edit Fields node\nconst editFieldsData = $('Edit Fields').first().json;\n\n// Pass through all previous data plus coordinates\nreturn [{\n  json: {\n    Location: editFieldsData.Location,\n    Business: editFieldsData.Business,\n    NumOfBusinesses: editFieldsData.NumOfBusinesses,\n    Radius: editFieldsData.Radius,\n    latitude: location.lat,\n    longitude: location.lng,\n    formatted_address: geocodeResult.results[0].formatted_address\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        192
      ],
      "id": "b4a4eae0-475c-4b9f-baf3-799ac1afc7bd",
      "name": "Extract Coordinates"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nreturn [{\n  json: {\n    results: response.results || [],\n    next_page_token: response.next_page_token || null,\n    status: response.status,\n    page_number: 1\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        176
      ],
      "id": "084547c8-e992-49a8-a16e-7193cf4fb849",
      "name": "Store Page Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23e6a55f-b4b8-4d40-bcd9-8e8338e6f4f4",
              "leftValue": "={{ $json.next_page_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        176
      ],
      "id": "6014f76f-4ea4-4851-a206-2c51158832a6",
      "name": "Check For Next Page"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2320,
        160
      ],
      "id": "0f3991db-ecda-49b4-ae74-92f6a91bc5d9",
      "name": "Wait 2 Seconds",
      "webhookId": "10e87336-86f3-431c-b17a-204cf0973246"
    },
    {
      "parameters": {
        "url": "={{ $('Extract Coordinates').Radius ? \n  `https://maps.googleapis.com/maps/api/place/nearbysearch/json?pagetoken=${$json.next_page_token}&key=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE` \n  : \n  `https://maps.googleapis.com/maps/api/place/textsearch/json?pagetoken=${$json.next_page_token}&key=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE` \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2528,
        160
      ],
      "id": "450ab455-b1bd-4ed8-82af-9d34df3dcf53",
      "name": "Fetch Next Page"
    },
    {
      "parameters": {
        "jsCode": "const previousData = $('Store Page Token').first().json;\nconst newPageData = $input.first().json;\n\n// Merge results\nconst allResults = [\n  ...(previousData.results || []),\n  ...(newPageData.results || [])\n];\n\nreturn [{\n  json: {\n    results: allResults,\n    next_page_token: newPageData.next_page_token || null,\n    page_number: (previousData.page_number || 1) + 1,\n    status: newPageData.status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        160
      ],
      "id": "fa70da66-ab65-4a27-85db-9e5c187386cd",
      "name": "Process Next Page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b348d69d-79f7-43ac-bb3c-0c8a679a6b8a",
              "leftValue": "={{ $json.page_number }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "5dad0344-a401-460c-b88b-24390cc4bdf7",
              "leftValue": "={{ $json.next_page_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2928,
        160
      ],
      "id": "8c7a36c1-5255-4349-8f43-3dee7bca22cf",
      "name": "Check Page Limit"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/app4mUQ6j18ubCQ0V/tbldlqSCNyV4R75Nm/viwfQDJJVNfNKwe5u",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/app4mUQ6j18ubCQ0V/tbldlqSCNyV4R75Nm/viwfQDJJVNfNKwe5u",
          "mode": "url"
        },
        "triggerField": "Last Modified",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        176,
        208
      ],
      "id": "ff9f3801-54c4-452a-811b-5b9691b0db48",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "FC9S4yjp9pJkBrkJ",
          "name": "Nizar's Airtable Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af6d65ae-edc8-4b26-95d9-9ec12690dc74",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": "={{ $('Edit Fields').item.json.NumOfBusinesses }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        192
      ],
      "id": "2942b50a-ae2b-4d0f-acf8-fc1e7ab1d454",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.output[0].content[0].text;\n\nconst cleaned = input.replace(/```json\\n?|```\\n?/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\n// Extract all variation values into an array\nconst variations = Object.values(parsed);\n\n// Return as array of items for looping\nreturn variations.map(variation => ({\n  json: { searchTerm: variation }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        -128
      ],
      "id": "5b635434-da3c-4e63-8890-9e0bed7f6fed",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ \n  `https://maps.googleapis.com/maps/api/place/textsearch/json?query=${encodeURIComponent($json.searchTerm)}%20${encodeURIComponent($('Edit Fields').first().json.Location)}&key=AIzaSyBWFY2O_Lb_FCX9srYtgkz25MJv4Tb81vE` \n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2576,
        -128
      ],
      "id": "6158a6d5-02e3-4e8a-817a-42cfd47401c7",
      "name": "Search Places with Google2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are being engaged because we did a search and didn't get results so you are to create variations of the query so that we can rake in more results. Your job is to provide 3 variations and return them in json format. \n\nFor instance you get something like \"Clinic Family Oakville\" as query, you come up with things like: \"Family Clinic Oakville\", \"Family Medical Clinic\", and \"Family Clinic\".\n\nNo explanations, no small talk. Just output the data in the described format."
            },
            {
              "content": "=This is the query:\n{{ $('Edit Fields').item.json.Business }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        2096,
        -128
      ],
      "id": "3f8b1996-46f9-458a-a428-08810a324b10",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "CikD3VDLZ1fhpUCx",
          "name": "Nizar's OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2768,
        -128
      ],
      "id": "b5f7aab5-bcc2-476f-af8a-1f5cdd4b623a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const allData = $input.all();\nconst allResults = [];\n\nallData.forEach(item => {\n  if (item.json && Array.isArray(item.json.data)) {\n    item.json.data.forEach(searchResponse => {\n      if (searchResponse.results && Array.isArray(searchResponse.results)) {\n        allResults.push(...searchResponse.results);\n      }\n    });\n  }\n});\n\n// Remove duplicates based on place_id\nconst uniqueResults = allResults.filter((result, index, self) =>\n  index === self.findIndex(r => r.place_id === result.place_id)\n);\n\n// Return as single item with all results\nreturn [{\n  json: {\n    results: uniqueResults,\n    total_count: uniqueResults.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        -128
      ],
      "id": "622746a8-3d13-4a39-8bc8-e15efec27a32",
      "name": "Gather results"
    },
    {
      "parameters": {
        "jsCode": "// Initialize score and debug object\nlet score = 0;\nconst debug = {\n  breakdown: {},\n  raw_values: {},\n  errors: []\n};\n\ntry {\n  // ====================\n  // GOOGLE REVIEWS (max 30 points)\n  // ====================\n  const placeDetails = $('Search Places for Details').item?.json?.result;\n  const rating = placeDetails?.rating || null;\n  const reviewCount = placeDetails?.user_ratings_total || null;\n  \n  debug.raw_values.rating = rating;\n  debug.raw_values.reviewCount = reviewCount;\n  \n  let ratingPoints = 0;\n  let reviewPoints = 0;\n  \n  if (rating !== null) {\n    if (rating < 3.5) ratingPoints = 15;\n    else if (rating < 4.0) ratingPoints = 10;\n    else if (rating < 4.5) ratingPoints = 5;\n    else ratingPoints = 0;\n  } else {\n    ratingPoints = 15; // No rating = high opportunity\n  }\n  \n  if (reviewCount !== null) {\n    if (reviewCount < 10) reviewPoints = 15;\n    else if (reviewCount < 50) reviewPoints = 10;\n    else if (reviewCount < 100) reviewPoints = 5;\n    else reviewPoints = 0;\n  } else {\n    reviewPoints = 15; // No reviews = high opportunity\n  }\n  \n  score += ratingPoints + reviewPoints;\n  debug.breakdown.rating_score = ratingPoints;\n  debug.breakdown.review_score = reviewPoints;\n\n  // ====================\n  // WEBSITE QUALITY (max 20 points)\n  // ====================\n  const emailData = $('Email Extractor').item?.json?.data;\n  const website = emailData?.domain || null;\n  const emails = emailData?.emails || [];\n  \n  debug.raw_values.website = website;\n  debug.raw_values.email_count = emails.length;\n  \n  let websitePoints = 0;\n  \n  if (!website || website === '' || website === 'null') {\n    websitePoints = 20; // No website = high opportunity\n  } else if (emails.length === 0) {\n    websitePoints = 15; // Website exists but no emails found\n  } else {\n    websitePoints = 0; // Website + emails = good digital presence\n  }\n  \n  score += websitePoints;\n  debug.breakdown.website_score = websitePoints;\n\n  // ====================\n  // SOCIAL MEDIA PRESENCE (max 30 points)\n  // ====================\n  let socialPoints = 0;\n  \n  // Instagram\n  const instagramData = $('Instagram').item?.json;\n  const instagramFollowers = instagramData?.followersCount || null;\n  \n  debug.raw_values.instagram_followers = instagramFollowers;\n  \n  let instagramPoints = 0;\n  if (!instagramData || instagramFollowers === null) {\n    instagramPoints = 10; // No Instagram = high opportunity\n  } else if (instagramFollowers < 100) {\n    instagramPoints = 10; // Very low followers\n  } else if (instagramFollowers < 500) {\n    instagramPoints = 5; // Low followers\n  }\n  \n  // Facebook\n  const facebookData = $('Facebook').item?.json;\n  const facebookLikes = facebookData?.likes || null;\n  \n  debug.raw_values.facebook_likes = facebookLikes;\n  \n  let facebookPoints = 0;\n  if (!facebookData || facebookLikes === null) {\n    facebookPoints = 10; // No Facebook = high opportunity\n  } else if (facebookLikes < 100) {\n    facebookPoints = 10; // Very low likes\n  } else if (facebookLikes < 500) {\n    facebookPoints = 5; // Low likes\n  }\n  \n  // LinkedIn\n  const linkedinData = $('Linkedin').item?.json;\n  const linkedinFollowers = linkedinData?.FollowersCount || null;\n  \n  debug.raw_values.linkedin_followers = linkedinFollowers;\n  \n  let linkedinPoints = 0;\n  if (!linkedinData || linkedinFollowers === null) {\n    linkedinPoints = 5; // No LinkedIn\n  } else if (linkedinFollowers < 100) {\n    linkedinPoints = 3;\n  }\n  \n  // Twitter/X\n  const twitterData = $('X(Twitter)').item?.json;\n  const twitterFollowers = twitterData?.followers_count || null;\n  \n  debug.raw_values.twitter_followers = twitterFollowers;\n  \n  let twitterPoints = 0;\n  if (!twitterData || twitterFollowers === null) {\n    twitterPoints = 5; // No Twitter\n  } else if (twitterFollowers < 100) {\n    twitterPoints = 3;\n  }\n  \n  socialPoints = instagramPoints + facebookPoints + linkedinPoints + twitterPoints;\n  score += socialPoints;\n  \n  debug.breakdown.instagram_score = instagramPoints;\n  debug.breakdown.facebook_score = facebookPoints;\n  debug.breakdown.linkedin_score = linkedinPoints;\n  debug.breakdown.twitter_score = twitterPoints;\n  debug.breakdown.social_total = socialPoints;\n\n  // ====================\n  // BUSINESS STATUS (max 20 points)\n  // ====================\n  const businessStatus = placeDetails?.business_status || null;\n  \n  debug.raw_values.business_status = businessStatus;\n  \n  let statusPoints = 0;\n  if (!businessStatus) {\n    statusPoints = 0; // Unknown status\n  } else if (businessStatus !== 'OPERATIONAL') {\n    statusPoints = 20; // Closed/temporarily closed = might need help reopening\n  }\n  \n  score += statusPoints;\n  debug.breakdown.status_score = statusPoints;\n\n  // ====================\n  // FINAL CALCULATIONS\n  // ====================\n  debug.breakdown.total_score = score;\n  debug.breakdown.max_possible = 100;\n  \n  const priorityTier = score >= 75 ? 'High Opportunity' : \n                       score >= 50 ? 'Medium Opportunity' : \n                       'Low Opportunity';\n\n  return [{\n    json: {\n      opportunity_score: score,\n      priority_tier: priorityTier,\n      score_breakdown: debug.breakdown,\n      raw_values: debug.raw_values,\n      scoring_timestamp: new Date().toISOString()\n    }\n  }];\n\n} catch (error) {\n  // If anything fails, return error details for debugging\n  return [{\n    json: {\n      opportunity_score: 0,\n      priority_tier: 'Error',\n      error_message: error.message,\n      error_stack: error.stack,\n      debug_info: debug\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5328,
        688
      ],
      "id": "8ea51f79-0b17-4950-9c59-7724adea531b",
      "name": "Opportunity Scoring1"
    },
    {
      "parameters": {
        "jsCode": "// Get the audit output from the Analyzer Agent\nconst auditOutput = $input.first().json.output;\n\n// Parse JSON (handle both string and object formats)\nlet auditData;\ntry {\n  // If it's already an object, use it directly\n  if (typeof auditOutput === 'object' && auditOutput !== null) {\n    auditData = auditOutput;\n  } else {\n    // If it's a string, parse it\n    let cleanedContent = auditOutput.trim();\n    \n    // Remove markdown code blocks if present\n    if (cleanedContent.startsWith('```json')) {\n      cleanedContent = cleanedContent.replace(/```json\\n?/g, '').replace(/```\\n?$/g, '');\n    } else if (cleanedContent.startsWith('```')) {\n      cleanedContent = cleanedContent.replace(/```\\n?/g, '').replace(/```\\n?$/g, '');\n    }\n    \n    auditData = JSON.parse(cleanedContent);\n  }\n} catch (error) {\n  throw new Error(`Failed to parse audit JSON: ${error.message}\\nRaw output: ${JSON.stringify(auditOutput)}`);\n}\n\n// Extract and structure the data\nreturn [{\n  json: {\n    // Core identifiers\n    business_name: auditData.business_name || 'Unknown Business',\n    \n    // Audit summary\n    executive_summary: auditData.executive_summary || '',\n    overall_score: auditData.overall_score || 0,\n    score_justification: auditData.score_justification || '',\n    \n    // Structured findings (keep as objects for downstream processing)\n    top_gaps: auditData.top_gaps || [],\n    quick_wins: auditData.quick_wins || [],\n    conversion_opportunities: auditData.conversion_opportunities || [],\n    \n    // Additional insights\n    competitive_position: auditData.competitive_position || '',\n    positive_finding: auditData.positive_finding || null,\n    \n    // Formatted versions for Airtable (convert arrays to strings)\n    top_gaps_text: auditData.top_gaps \n      ? auditData.top_gaps.map((g, i) => `${i+1}. ${g.gap} (${g.urgency} urgency) - Impact: ${g.impact}`).join('\\n\\n')\n      : '',\n    \n    quick_wins_text: auditData.quick_wins\n      ? auditData.quick_wins.map((w, i) => `${i+1}. ${w.action} (${w.effort} effort) - ${w.expected_impact}`).join('\\n\\n')\n      : '',\n    \n    conversion_opportunities_text: auditData.conversion_opportunities\n      ? auditData.conversion_opportunities.map((c, i) => `${i+1}. ${c}`).join('\\n\\n')\n      : '',\n    \n    // For email generation - extract top 3 gaps\n    gap_1: auditData.top_gaps && auditData.top_gaps[0] ? auditData.top_gaps[0].gap : null,\n    gap_2: auditData.top_gaps && auditData.top_gaps[1] ? auditData.top_gaps[1].gap : null,\n    gap_3: auditData.top_gaps && auditData.top_gaps[2] ? auditData.top_gaps[2].gap : null,\n    \n    // Metadata\n    audit_generated_at: new Date().toISOString(),\n    \n    // Pass through original business data for next nodes\n    original_business_type: $('Search Places for Details').item?.json?.result?.types || [],\n    original_location: $('Edit Fields').item?.json?.Location || '',\n    original_record_id: $('Search Places for Details').item?.json?.place_id || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3904,
        688
      ],
      "id": "9875157c-cfd9-4bf2-bcaa-e06792e50af0",
      "name": "Analysis Parsing"
    },
    {
      "parameters": {
        "jsCode": "let output = $input.first().json.output;\n\n// Remove markdown code blocks if present\nif (typeof output === 'string') {\n  output = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  output = JSON.parse(output);\n}\n\nreturn [{\n  json: {\n    subject: output.subject_line,\n    email_body: output.email_body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4896,
        688
      ],
      "id": "6bb82fe1-1cac-4c38-b906-22c636902b96",
      "name": "Extract Subject and Email Body"
    },
    {
      "parameters": {
        "jsCode": "const inputUrl = $input.first().json.result.website;\n\ntry {\n  const match = inputUrl.match(/^(https?:\\/\\/)?([^\\/\\?#]+)/i);\n  \n  if (!match) {\n    throw new Error('Invalid URL format');\n  }\n  \n  const protocol = match[1] || 'https://';\n  const hostname = match[2];\n  const baseUrl = `${protocol}${hostname}`;\n  \n  return {\n    json: {\n      original_url: inputUrl,\n      formatted_url: baseUrl\n    }\n  };\n  \n} catch (error) {\n  return {\n    json: {\n      original_url: inputUrl,\n      formatted_url: null,\n      error: 'Invalid URL'\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        208
      ],
      "id": "0a991588-f0ea-4efb-a9f7-9e99cd7f08a0",
      "name": "Properly Format URL"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4mUQ6j18ubCQ0V",
          "mode": "list",
          "cachedResultName": "Nizar's Business Outreach System",
          "cachedResultUrl": "https://airtable.com/app4mUQ6j18ubCQ0V"
        },
        "table": {
          "__rl": true,
          "value": "tblw3pBbDdMAPwMfp",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://airtable.com/app4mUQ6j18ubCQ0V/tblw3pBbDdMAPwMfp"
        },
        "filterByFormula": "=FIND(\"{{ $json.formatted_url }}\", {Website})",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4672,
        208
      ],
      "id": "6acb1805-f262-4831-876a-d4cb52b673a0",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "FC9S4yjp9pJkBrkJ",
          "name": "Nizar's Airtable Main"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4880,
        208
      ],
      "id": "fc25f015-e8d0-43e8-80ba-0f9a98fa3ee8",
      "name": "Gather all Returned Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "800f0848-e38b-4d82-90d2-2021b8d78e4a",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "bd6ab39f-8121-4cd0-b0f8-a3ad40f9bdbb",
              "leftValue": "={{ Object.keys($json.data[0]).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5088,
        208
      ],
      "id": "936a01af-c327-4300-8b9c-0cb333422be8",
      "name": "Check for Duplicates"
    }
  ],
  "pinData": {
    "Separate Subject & Email Draft": [
      {
        "json": {
          "subject": "PeaceHealth Burlington’s website quick wins",
          "email_body": "Hi there,\n\nI was checking out PeaceHealth Burlington Primary Care Clinic and noticed your appointment booking page is clear but could be more prominent on mobile to boost bookings. Also, your Google My Business profile has great reviews but missing a few updated photos that patients love to see.\n\nSmall tweaks like these could help more locals find and choose your clinic effortlessly.\n\nIf you’re open to it, I’d be happy to share a couple more ideas—no strings attached. Feel free to book a quick 15-minute call whenever works for you.\n\nBest,  \n[Your Name]  \n[Your Agency]  \n[Contact Info]"
        }
      }
    ],
    "Airtable Trigger": [
      {
        "json": {
          "id": "recbcPColEMRjWqLp",
          "createdTime": "2026-02-11T22:51:57.000Z",
          "fields": {
            "Campaign Name": "logistics feb 11",
            "Search Query (Usually Business Name)": "logistics company",
            "Location": "oakville ",
            "Radius (km)": 100,
            "Number of Businesses": 10,
            "Status": "Start Search",
            "Date": "2026-02-03T05:38:09.302Z",
            "Last Modified": "2026-02-11T22:57:36.000Z"
          }
        }
      },
      {
        "json": {
          "id": "recxZdKqKRwD1fryb",
          "createdTime": "2026-02-11T22:57:29.000Z",
          "fields": {
            "Date": "2026-02-11T22:57:28.786Z",
            "Last Modified": "2026-02-11T22:57:29.000Z"
          }
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Places with Google": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All The Results": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Places for Details": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyzer Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Email Generation Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Clean up Social Links",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Generation Agent": {
      "main": [
        [
          {
            "node": "Extract Subject and Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Subject & Email Draft": {
      "main": [
        []
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Geocode Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search Places for Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzer Agent": {
      "main": [
        [
          {
            "node": "Analysis Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Instagram Profile": {
      "main": [
        [
          {
            "node": "Clean up Social Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Facebook Page": {
      "main": [
        [
          {
            "node": "Search Instagram Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn Company": {
      "main": [
        [
          {
            "node": "Search Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Twitter Profile": {
      "main": [
        [
          {
            "node": "Search LinkedIn Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Clean up Social Links",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "X(Twitter)": {
      "main": [
        [
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook": {
      "main": [
        [
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean up Social Links": {
      "main": [
        [
          {
            "node": "X(Twitter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "Analyzer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Extractor": {
      "main": [
        [
          {
            "node": "Search Twitter Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Properly Format URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode Location": {
      "main": [
        [
          {
            "node": "Extract Coordinates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Coordinates": {
      "main": [
        [
          {
            "node": "Search Places with Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Page Token": {
      "main": [
        [
          {
            "node": "Check For Next Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Next Page": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract All The Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Seconds": {
      "main": [
        [
          {
            "node": "Fetch Next Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Next Page": {
      "main": [
        [
          {
            "node": "Process Next Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Next Page": {
      "main": [
        [
          {
            "node": "Check Page Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Page Limit": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract All The Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Store Page Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search Places with Google2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Places with Google2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Gather results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather results": {
      "main": [
        [
          {
            "node": "Extract All The Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Parsing": {
      "main": [
        [
          {
            "node": "Email Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Subject and Email Body": {
      "main": [
        [
          {
            "node": "Opportunity Scoring1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opportunity Scoring1": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Properly Format URL": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Gather all Returned Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather all Returned Data": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "81ff66c6-77d3-4809-a962-1349fbcf9b1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dbff2cc1e2947bede37205794d78130a3071ba5b2a790581d2941b50712e79a"
  },
  "id": "PIIxC6t2r7gVjRix",
  "tags": []
}